<!--
  ~ Copyright (C) 2017 JoongAng Control, Inc - All Rights Reserved
  ~ Unauthorized copying of this file, via any medium is strictly prohibited
  ~ Proprietary and confidential
  ~ Written by Sungchul Choi <scchoi@joas.co.kr>, 19. 3. 13 오후 1:38
  ~
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.joas.ocppui_dubai_2ch" >

    <application
        android:label="SmartCharger">
        <activity
            android:name="com.joas.ocppui_dubai_2ch.OCPPUIActivity"
            android:configChanges="keyboard|keyboardHidden|touchscreen|screenLayout"
            android:label="SmartCharger"
            android:theme="@style/AppTheme"></activity>
    </application>
</manifest>

