<script src="js/recentlog_sys.js"></script>
<div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-9">
        <div class="card">
          <div class="card-header"><b>Recent System Log</b></div>
          <div class="card-body">
            <table id="tableSysLog" class="table table-responsive-sm table-bordered table-striped table-sm">
                <thead>
                    <tr>
                      <th class="th-sm" style="width:145px">Time</th>
                      <th class="th-sm" style="width:30px">LEV</th>
                      <th class="th-sm" style="width:140px">TAG</th>
                      <th class="th-sm">Msg</th>                      
                    </tr>
                  </thead>
              <tbody>              
              </tbody>
            </table>
          </div>
        </div>  
      </div>
    </div>      
  <!-- /.row-->
</div>

