<script src="js/charginglog_files.js"></script>
<div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header"><b> Charging Log Files</b></div>
          <div class="card-body">
            <table id = "tableCommLog" class="table table-responsive-sm table-bordered table-striped table-sm">
                <thead>
                    <tr>
                      <th class="th-sm"  style="width:134px">Files</th>                      
                    </tr>
                  </thead>
              <tbody>                
              </tbody>
            </table>
          </div>
        </div>  
      </div>
    </div>      
  <!-- /.row-->
</div>

