<script src="js/recentlog_comm.js"></script>
<div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-9">
        <div class="card">
          <div class="card-header"><b>Recent Communication Log</b></div>
          <div class="card-body">
            <table id = "tableCommLog" class="table-responsive table-bordered table-striped">
                <thead>
                    <tr>
                      <th class="th-sm"  style="width:134px">Time</th>
                      <th class="th-sm"  style="width:30px">Tag</th>
                      <th class="th-sm">Msg</th>                      
                    </tr>
                  </thead>
              <tbody>                
              </tbody>
            </table>
          </div>
        </div>  
      </div>
    </div>      
  <!-- /.row-->
</div>

