<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (C) 2017 JoongAng Control, Inc - All Rights Reserved
  ~ Unauthorized copying of this file, via any medium is strictly prohibited
  ~ Proprietary and confidential
  ~ Written by Sungchul Choi <scchoi@joas.co.kr>, 18. 6. 25 오전 11:35
  ~
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.joas.kepco.ui">

    <application>
        <activity android:name="com.joas.kepco.ui_charlcd.KepcoCharLCDUIActivity"
        android:configChanges="keyboard|keyboardHidden|touchscreen|screenLayout">
        </activity>
    </application>

</manifest>